@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: hsl(229, 6%, 66%);
}
#main-container {
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

}
#text-container {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
#title-style {
  font-size: 1.5rem;
  color:hsl(234, 12%, 34%)
}
#highlight {
  font-weight: 200;
}
#cards-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 10px 46px -1px rgba(0,0,0,0.75);
}
.info-container{
  display: flex;  
  flex-direction: column;
  gap: 0.8rem;

}
.title-style{
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(234, 12%, 34%);
}
.paragraph-style{
  font-size: 0.8rem;
}
.img-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#cyan-style {
  border-top: 0.3rem solid hsl(180, 62%, 55%);
  border-radius: 0.5rem;
}
#red-style {
  border-top: 0.3rem solid hsl(0, 78%, 62%);
  border-radius: 0.5rem;
}
#orange-style {
  border-top: 0.3rem solid hsl(34, 97%, 64%);
  border-radius: 0.5rem;
}
#blue-style {
  border-top: 0.3rem solid hsl(212, 86%, 64%);
  border-radius: 0.5rem;
}
@media (width>756px) {
  body{

    height: 100dvh;
  }
  #main-container{
    padding: 5rem 10rem;
    align-items: center;
    height: 100%;
    padding: 3rem;
    gap: 3rem;
  }
  #text-container{
    width: 50%;
    align-items: center;
  }
  #text-container h1{
    width: 50%;
  }
  #text-container p{
    font-size: 0.7rem;
    width: 56%;
  }
  #cards-container{
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .card-container{
    width: 21rem;
    height: 14.5rem;
  }
  #central-cards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}